@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
*{font-family: 'Abel', sans-serif;}
body{
   background-image: url("../img/pow-star.png");
}
.jumbotron{
   background-image:   url('../img/disney.jpg');
   background-repeat: no-repeat; 
   background-size: cover; 

color:yellow;
font-family: Arial, Helvetica, sans-serif
}
.instruction{
   color: wheat;
}
span{
   font-size: 40px;
}
#under-score{
   font-size: 30px;
}