@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
*{font-family: 'Abel', sans-serif;}
body{
   background-image: url("/img/j2EVpWQ0U9Px-900x563.jpg");
}
.jumbotron{
background-image: url("https://tribzap2it.files.wordpress.com/2015/08/classic-disney-movies-pop-quiz-disney.jpg?w=900"); background-size: 100%;
color: yellow;
font-family: Arial, Helvetica, sans-serif
}
.instruction{
   color: wheat;
}